* {
    border: 1px solid red;
}
body {
    margin: 0;
    color: black;
    background-color: #f9d3e0;
    font-size: 22px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 60%;
    justify-content: space-around;
}

.navbar a {
    color: gray;

}

.navbar a:hover {
    background: #ddd;
    color: black;
  }

.maincontent {
    margin-top: 100px;
}

h1 {
    font-family: 'Whisper', cursive;
    font-size: 6rem;
    margin-bottom: 0px;
    background-color: palevioletred;
    width: 100%;
    padding-top: 10px;
}

.maincontent h4 {
    margin-top: 0px;
    background-color: palevioletred;
    width: 100%;
    padding-bottom: 30px;
}

#treatments {
    display: flex;
    justify-content: space-around;
    padding-right: 200px;
    padding-left: 200px;
    margin-bottom: 50px;
}

#treatments h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

th, td {
    font-size: 2rem;
    border: 2px solid grey;
    padding: 10px 40px 10px 40px;
}



